:root {
    --main-bg-color: #171717;
    --secundary-bg-color: #2b2b2b;
    --terceary-gb-color: white;
    --test-color: white;
    --main-font-color: white;
    --secundary-font-color: gray;
    --btn-font-color: white;
    --new-pub-color: white;
    --name-autor-pub: white;
}

* {
    background-color: var(--main-bg-color);
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    width: 100%
}

#container-header{
    padding: 10px; 
    width: 100%;
    height: 35px;
    /*border: 1px solid white; */
    text-align: center;
}

#banner-header{
    display: none;
}

#text-banner-header{
    color : var(--main-font-color);
    padding-left: 10px;
    font-size: 26px;
    font-weight: bold;
    width: 50%;
    display: inline-block;
    text-align: left;
    float: left;
    margin-top: 5px;
}

#options-header{
    width: 35%;
    display: inline-block;
    padding-top: 4px;
}

.header-btn{
    height: 30px;
    width: 30px;
    margin-top: 0px;
    margin-right: 10px;
    background-color: var(--test-color);
    float: right;
    border-radius: 15px;
}


/* CSS DO NEW PUB ********************************/



#container-new-pub{
    background-color:var(--secundary-bg-color);
    width: 93%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 5px;
    
}

#new-pub-header {
    background-color: var(--secundary-bg-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding-top: 5px;
}

#img-perfil-new-pub{
    height: 40px;
    width: 40px;
    background-color: var(--test-color);
    border-radius: 25px;
}

#content-new-pub{
    background-color:var(--terceary-gb-color);
    width: 70%;
    height: 25px;
    border-radius: 10px;
    margin-left: 15px;
    padding-left: 10px;
    padding-right: 10px;

}

#new-pub-options{
    display: flex;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    color: var(--new-pub-color);
    font-size: 12px;
    background-color: var(--secundary-bg-color)
}

.new-pub-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secundary-bg-color);
    border: 1px var(--main-bg-color);
    border-style: none solid none none;
    margin: 0px 2px;
    flex-grow: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    /*box-shadow: black -1px 1px 2px;*/
}

.new-pub-icon{
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background-color: var(--test-color);

}

.text-new-pub-btn{
    background-color: var(--secundary-bg-color);
}

/* CSS do feed de pubs *****************************/

#container-feed{
    width: 96%;
    min-height: 300px;
    margin: 5px auto;
}

.pub-feed {
    width: 100%;
    border-radius: 10px;
    background-color: var(--secundary-bg-color);
    margin: 8px auto;
    padding-bottom: 10px;
}

.header-pub-feed{
    width: 95%;
    height: 60px;
    margin: 0px auto;
    background-color: var(--secundary-bg-color);
    display: flex;
    justify-content: space-between;
    align-content: center;

}

.info-autor{
    display: flex;
    align-items: center;
    width: 85%;
    background-color: var(--secundary-bg-color);
}

.img-autor{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: coral;
}

.name-autor{
    color: var(--name-autor-pub);
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
    background-color: var(--secundary-bg-color)

}

.options-pub{
    color: var(--name-autor-pub);
    font-size: 22px;
    font-weight: bold;
    background-color: var(--secundary-bg-color);
    margin-right: 5px;
}

.body-pub-feed{
    width: 100%;
    min-height: 20px;
    background-color: var(--secundary-bg-color);
}

.text-pub-feed{
    width: 90%;
    margin: 0 auto;
    background-color: var(--secundary-bg-color);
    color: var(--main-font-color);
    text-align: left;
    margin-bottom: 7px;
    font-size: 14px;
    min-height: 14px;
}

.img-pub-feed{
    width: 100%;
    min-height: 250px;
    background-color: #28733a
}

.footer-pub-feed{
    width: 100%;
}

.actions-pub-feed{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secundary-bg-color);
}

.btn-pub-feed{
    height: 40px;
    color: var(--btn-font-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: var(--secundary-bg-color);
    margin: 0 2px;
}

.icon-btn-pub-feed{
    width: 23px;
    height: 23px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: var(--terceary-gb-color);
}

.text-btn-pub-feed{
    background-color: var(--secundary-gb-color);
    font-size: 12px;
}